.nav {
    background-color: #fff;
    color: #333;
    margin-bottom: 60px;
}

.linksList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.li {
    font-size: 48px;
    padding: 0 20px;
    font-family: 'VT323', sans-serif;
    letter-spacing: -2px;
}

.button {
    border-radius: 2px;
    border: 2px solid transparent;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    pointer-events: none;
    /*box-shadow:0 5px 0 5px mediumorchid;*/
}
.button.notSelected {
    color: #333;
    background-color: transparent !important;
    border: 2px solid transparent;
    cursor: pointer;
    pointer-events: all;
}

.button.notSelected:hover {
    border: 2px solid #333;
    border-radius: 2px;
}

.button:focus{
    outline: none;
}

.button:active {
    outline: none;
}
