.article {
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    text-decoration: none;
    display: block;
    color: #fff;
    position: relative;
}

.title {
    font-weight: bold;
    font-size: 24px;
    border-radius: 2px;
    padding: 10px;
    margin: 0;
    transition: all .3s;
}

/*.link::after {*/
/*    position: absolute;*/
/*    width: 4px;*/
/*    height: 4px;*/
/*    left: -10px;*/
/*    top: 0;*/
/*    border-radius: 50%;*/
/*    background-color: limegreen;*/
/*    content: '';*/
/*}*/

.link:visited,
.link:active {
    color: #fff;
}

.link:visited::after,
.link:active::after {
    display: none;
}



.description {
    font-size: 16px;
}

.keywords {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.source {
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    transition: all .3s;
}

.date {
    color: #888;
    font-size: 16px;
}
.word {
    color: #888;
    padding: 2px 4px;
    border-radius: 2px;
    border: 2px solid;
    margin: 5px 2px;
    display: block;
    font-size: 13px;
    font-weight: bold;
    transition: all .3s;
}

.word:first-child {
    margin-left: 0;
}

.textLine {
    margin-top: 5px;
}

.imageWrap > img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
}

.imageWrap {
    margin-top: 5px;
}


.article:hover .title {
    background-color: #333 !important;
}

.article:hover .keywords .word {
    border-color: #333 !important;
}

.article:hover .source {
    color: #333 !important;
}