.footer {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    width: 100%;
    flex-shrink: 0;
}

.katia {
    text-decoration: none;
    transition: all .3s;
    display: inline-block;
    transform-origin: top left;
    position: relative;
}

.katia:visited,
.katia:active {
    color: #fff;
}

.katia:hover {
    text-decoration: underline;
}

