.nav {
    background-color: #fff;
    color: #333;
    margin-bottom: 60px;
}

.linksList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.li {
    font-size: 48px;
    padding: 0 20px;
    font-family: 'VT323', sans-serif;
    letter-spacing: -2px;
}

.li > button {
    border-radius: 2px;
    border: none;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
}
button.notSelected {
    color: #333;
    background-color: transparent !important;
}